<?xml version="1.0" encoding="UTF-8"?><module>
	<!--
	***********
	PURLs Documentation Module
	***********
	-->
    <identity>
		<uri>urn:org:purl:documentation</uri>
		<version>0.0.11</version>
    </identity>
	<info>
		<name>PURL Documentation Module</name>
        <description>A module containing the PURLS 2 documentation.</description>
		<dynamic/>
    </info>
    <publisher>
        <name>OCLC</name>
		<uri>http://www.oclc.org</uri>
    </publisher>
	<export>
		<uri>
			<match>.*:/docs/.*</match>
		</uri>
	</export>
	<rewrite>
	    <rule>
		    <match>ffcpl:/docs/(\+.*)?</match>
		    <to>ffcpl:/resources/index.html</to>
        </rule>	    
	    <rule>
		    <match>ffcpl:/docs/(.*)</match>
		    <to>ffcpl:/resources/$1</to>
        </rule>
	</rewrite>
	<mapping>
		<this>
			<match>ffcpl:/resources/.*</match>					    
		</this>

		<import>
			<uri>urn:org:ten60:netkernel:ext:session</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<super/>
    </mapping>
</module>