<?xml version="1.0" encoding="UTF-8"?><module>
    <identity>
		<uri>urn:org:ten60:netkernel:fulcrum:backend</uri>
		<version>1.1.8</version>
    </identity>
	<info>
		<name>NetKernel Backend Fulcrum</name>
        <description>Fulcrum with HTTP server on port 1060 hosting documentation, control panel and developer tools and unit testing</description>
		<type>fulcrum</type>
    </info>
    <publisher>
        <name>1060 Research Limited</name>
		<uri>http://www.1060research.com</uri>
    </publisher>
    <licence>
		<name>1060 Public License v1.0</name>
		<uri>http://www.1060research.com/license</uri>
	</licence>
	<export>
		<uri>
			<match>ffcpl:.*</match>
		</uri>
	</export>
	<rewrite>
		<!--
		**********
		Tie HTTP requests to the HTTP Bridge
		**********
		-->
		<rule>
			<match>(https?:.*)</match>
			<to>active:http-bridge+url@$e1+config@ffcpl:/etc/HTTPBridgeConfig.xml</to>
		</rule>
		<!--
		**********
		Handle special fulcrum space
		**********
		-->
		<rule>
			<match>(ffcpl:/fulcrum/.*)</match>
			<to>active:mapper+operator@ffcpl:/fulcrum/links.xml+operand@$1</to>
		</rule>
	</rewrite>
	<mapping>
		
		<!--Put every http-bridge generated request into the FFCPL domain-->
		<rewrite>
			<match>jetty://(.*?)/(.*)</match>
			<to>ffcpl:/$2</to>
		</rewrite>
		<rewrite>
			<!--Make sure no cookies get through on the root path-->
			<match>ffcpl:/(\Z|\+.*)</match>
			<to>ffcpl:/index.html</to>
		</rewrite>
		<this>
			<match>ffcpl:/(etc|pub|fulcrum)/.*</match>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/favicon.ico</match>
		</this>

    <!--
		************
		Jetty HTTP Transport
		************
		-->
		<import>
			<uri>urn:org:ten60:netkernel:tpt:http</uri>
		</import>
		<!--
		************
		Cache
		************
		-->
		<import>
			<uri>urn:org:ten60:netkernel:cache:standard</uri>
		</import>
		<!--
		************
		Various functionalities
		************
		-->
		<import>
			<uri>urn:org:ten60:netkernel:ext:introspect</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:doc:netkernel</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:doc:books</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:mod:developer</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:lib:xlib</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:entrypoint</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:install</uri>
		</import>
		<import>
			<uri>urn:org:ten60:util:image</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xrl</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:debugger</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xunit</uri>
		</import>
		</mapping>
	<transports>
		<!--
		************
		HTTP Transport
		************
		-->
		<transport>org.ten60.transport.jetty.JettyTransport</transport>
	</transports>
</module>