<?xml version="1.0" encoding="UTF-8"?><module>
	<!--
	***********
	PURLs Admin Module
	***********
	-->
    <identity>
		<uri>urn:org:purl:admin</uri>
		<version>0.0.1799</version>
    </identity>
	<info>
		<name>PURL Admin Module</name>
        <description>A module containing the PURLS 2 admin interface.</description>
		<dynamic/>
    </info>
    <publisher>
        <name>OCLC</name>
		<uri>http://www.oclc.org</uri>
    </publisher>
	<export>
		<uri>
			<match>purl:/.*</match>
			<match>domain:/.*</match>
			<match>user:.*</match>
			<match>group:.*</match>
 			<match>ffcpl:/domain.*</match>
			<match>ffcpl:/group.*</match>
			<match>ffcpl:/purls.*</match>
			<match>ffcpl:/purl.*</match>
			<match>ffcpl:/user.*</match>
			<match>ffcpl:/admin.*</match>
			<match>active:purls\+.*</match>
			<match>active:purl-resolver\+.*</match>
			<match>active:purl\+.*</match>
			<match>active:purl-domain\+.*</match>
			<match>active:purl-group\+.*</match>
			<match>active:purl-groups-for-user\+.*</match>
			<match>active:purl-user\+.*</match>
			<match>active:purl-user-authenticate\+.*</match>			
			<match>active:purl-initialize</match>
			<match>active:purl-entries-reindex</match>
            <match>active:des\+.*</match>
            <match>ffcpl:/etc/HTTPBridgeConfig.xml</match>
			<match>ffcpl:/etc/LogConfig.xml</match>
			<match>ffcpl:/etc/PURLConfig.xml</match>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/CRONConfig.xml</match>
			<match>ffcpl:/etc/PURLConfig.xml</match>
			<match>ffcpl:/.*</match>
		</uri>
		<class>
			<match>org\.purl\.accessor\.util\..*</match>
		</class>
	</export>
 	<rewrite>
 	<rule>
      <match>(.*\.bsh)(.*)</match>
      <to>active:beanshell+operator@$1$2</to>
    </rule>
    </rewrite>
	<mapping>
		<this>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/.*</match>
			<match>ffcpl:/users/.*</match>
			<match>ffcpl:/user-requests/.*</match>
			<match>ffcpl:/groups/.*</match>
			<match>ffcpl:/groups-for-user/.*</match>			
			<match>ffcpl:/domains/.*</match>
			<match>ffcpl:/storedpurls/.*</match>
			<match>ffcpl:/tombstoneddomains/.*</match>
			<match>ffcpl:/tombstonedgroups/.*</match>			
			<match>ffcpl:/tombstonedpurls/.*</match>
			<match>ffcpl:/tombstonedusers/.*</match>			
			<match>ffcpl:/pub/.*</match>
			<match>ffcpl:/filters/.*</match>
			<match>ffcpl:/scripts/.*</match>
			<match>ffcpl:/index/.*</match>
			<match>ffcpl:/schemas/.*</match>
			<match>ffcpl:/somefolder/.*</match>			
		</this>
<!-- 		<rewrite>
			<match>ffcpl:(/admin/)(domain|group|purl|purls|user)(/.*)</match>
			<to>active:purl-http+type@$2+path@$1$2$e3</to>
		</rewrite>-->	
		<rewrite>
			<match>ffcpl:/admin/(.*.bsh.*)</match>
			<to>active:beanshell+operator@ffcpl:/resources/$1</to>
		</rewrite>
        <rewrite>
			<match>(ffcpl:/purl)(/.*?)(\+[^\+]*?@.*)</match>
			<to>active:purl+path@ffcpl:/purl$e2$3</to>
		</rewrite>
        <rewrite>
        	<match>(purl:/.*)</match>
        	<to>active:purl-resolver+path@$1</to>
        </rewrite>		
		<rewrite>
			<match>ffcpl:/purl(/.*?)(\+[^\+]*?@.*)</match>
			<to>active:purl-resolver+path@ffcpl:/purl$e1$2</to>
		</rewrite>
		<rewrite>
			<match>active:purl-initialize</match>
			<to>active:beanshell+operator@ffcpl:/scripts/initialize.bsh</to>
		</rewrite>
		<rewrite>
			<match>active:purl-entries-reindex</match>
			<to>active:purl-search-index+importType@delta-import</to>
		</rewrite>
		<rewrite>
			<match>ffcpl:/admin/history/purl(/.*?)(\+[^\+]*?@.*)</match>
			<to>active:purl-storage-query-purl-history+purl@ffcpl:/purl$e1$2</to>
		</rewrite>

 		<rewrite>
			<match>(ffcpl:/admin/purls.*?)(\+[^\+]*?@.*)</match>
			<to>active:purls+path@$e1$2</to>
		</rewrite>
		<!--<rewrite>-->
			<!--<match>(ffcpl:/admin/purl)(.*)</match>-->
			<!--<to>active:purl+path@ffcpl:/purl$e2</to>-->
		<!--</rewrite>-->

		<rewrite>
			<match>(ffcpl:/admin/purl)(/.*?)(\+[^\+]*?@.*)</match>
			<to>active:purl+path@ffcpl:/purl$e2$3</to>
		</rewrite>				
		<rewrite>
			<match>(ffcpl:/admin/targeturls)(/.*?)(\+[^\+]*?@.*)</match>
			<to>active:purls-validate+path@ffcpl:$e2$3</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/targeturl)(/.*?)(\+[^\+]*?@.*)</match>
			<to>active:purl-validate+mode@mode:validate+path@ffcpl:$e2$3</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/domain.*)</match>
			<to>active:purl-domain+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/domain.*)</match>
			<to>active:purl-domain+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/group.*)</match>
			<to>active:purl-group+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/group.*)</match>
			<to>active:purl-group+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/user.*)</match>
			<to>active:purl-user+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/user.*)</match>
			<to>active:purl-user+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/pending/user.*)</match>
			<to>active:purl-admin-pending-users+type@data:text/plain,user+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/pending/domain.*)</match>
			<to>active:purl-admin-pending-domains+type@data:text/plain,domain+path@$1</to>
		</rewrite>
		
		<rewrite>
			<match>active:purl-user-authenticate(\+.*)</match>
			<to>active:beanshell+operator@ffcpl:/scripts/userauthenticate.bsh$1</to>
		</rewrite>		

		<ura>
      		<match>active:purl-user\+.*</match>
      		<class>org.purl.accessor.user.UserAccessor</class>
    	</ura>
    	<ura>
      		<match>active:purl-groups-for-user\+.*</match>
      		<class>org.purl.accessor.group.GroupsForUserAccessor</class>
    	</ura>
		<ura>
      		<match>active:purl-group\+.*</match>
      		<class>org.purl.accessor.group.GroupAccessor</class>
    	</ura>
		<ura>
      		<match>active:purl-domain\+.*</match>
      		<class>org.purl.accessor.domain.DomainAccessor</class>
    	</ura>
		<ura>
      		<match>active:purls-validate\+.*</match>
      		<class>org.purl.accessor.purl.BatchPURLValidateAccessor</class>
    	</ura>
		<ura>
      		<match>active:purl-validate\+.*</match>
      		<class>org.purl.accessor.purl.PURLResolverAccessor</class>
    	</ura>
		<ura>
      		<match>active:purls\+.*</match>
      		<class>org.purl.accessor.purl.PURLSAccessor</class>
    	</ura>
		<ura>
      		<match>active:purl-resolver\+.*</match>
      		<class>org.purl.accessor.purl.PURLResolverAccessor</class>
    	</ura>
    	<ura>
    		<match>active:purl-admin-pending-users\+.*</match>
    		<class>org.purl.accessor.PendingAccessor</class>
    	</ura>
    	<ura>
    		<match>active:purl-admin-pending-domains\+.*</match>
    		<class>org.purl.accessor.PendingAccessor</class>
    	</ura>    	
		<ura>
      		<match>active:purl\+.*</match>
      		<class>org.purl.accessor.purl.PURLAccessor</class>
    	</ura>
        <ura>
            <match>active:des\+.*</match>
            <class>org.purl.accessor.DESAccessor</class>
        </ura>      
         <rewrite>
			<match>(ffcpl:/(?!pub|xlib).*?)(\+[^\+]*@.*)</match>
			<to>active:beanshell+operator@ffcpl:/scripts/main.bsh+base@$e1$2</to>
		</rewrite>
		<import>
			<uri>urn:org:purl:storage</uri>
		</import>
		<import>
			<uri>urn:org:purl:search</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:http:client</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
	    <import>
	      <uri>urn:org:ten60:netkernel:mod:lucene</uri>
	    </import>
	    <import>
	      <uri>urn:org:ten60:netkernel:ext:xsecurity</uri>
	    </import>	    
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
    	<import>
    		<uri>urn:org:ten60:netkernel:util:cron</uri>
    	</import> 		
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>

		<super/>
    </mapping>
</module>