<?xml version="1.0" encoding="utf-8"?>
<module>
	<identity>
		<uri>urn:org:ten60:netkernel:fulcrum:servlet</uri>
		<version>1.0.1</version>
	</identity>
	<info>
		<name>NetKernel Servlet Fulcrum</name>
		<description>Fulcrum exposing functionality through Servlet</description>
		<type>fulcrum</type>
	</info>
	<publisher>
		<name>1060 Research Limited</name>
		<uri>http://www.1060research.com</uri>
	</publisher>
	<licence>
		<name>1060 Public License v1.0</name>
		<uri>http://www.1060research.com/license</uri>
	</licence>
	<export/>
	<rewrite>
		<!--Tie Servlet requests to the Servlet Bridge-->
		<rule>
			<match>(servlet:.*)</match>
			<to>active:servlet-bridge+url@$e1+config@ffcpl:/etc/HTTPBridgeConfig.xml</to>
		</rule>
	</rewrite>
	<mapping>
		<rewrite>
			<match>servlet-bridge://.*?/(.*)</match>
			<to>ffcpl:/$1</to>
		</rewrite>
		<rewrite>
			<match>ffcpl:/?</match> <!--Fixes unexpected localhost cookie bug on root path-->
			<to>ffcpl:/pub/index_servlet.html</to>
		</rewrite>
		<rewrite>
			<match>ffcpl:/etc/HTTPBridgeConfig.xml</match>
			<to>active:http-bridge-config+module@urn:org:ten60:netkernel:fulcrum:frontend</to>
		</rewrite>
		<this>
			<match>ffcpl:/(etc|pub)/.*</match>
			<match>ffcpl:/entrypoints.xml</match>
		</this>
		<!--
		************
		Required Libraries
		************
		-->
		<import>
			<uri>urn:org:ten60:netkernel:tpt:http</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:lib:xlib</uri>
		</import>
		<!--
		************
		Demo and Test modules - remove these for production...
		************
		-->
		<import>
			<uri>urn:org:ten60:workbench</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:mod:ws:test</uri>
		</import>
		<import>
			<uri>urn:org:ten60:app:address:book</uri>
		</import>
    <import>
      <uri>urn:org:ten60:app:address:book</uri>
    </import>
	</mapping>
	<transports>
		<!--
		************
		InternalTransport - Servlet connects through this
		************
		-->
		<transport>InternalTransport</transport>
	</transports>
</module>
