<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	
    <display-name>1060 NetKernel Servlet</display-name>
	<description/>
	<servlet>
		<servlet-name>NetKernel</servlet-name>
		<servlet-class>com.ten60.netkernel.servlet.NetKernelServlet</servlet-class>
		<init-param>
			<param-name>basepath</param-name>
			<param-value>$INSTALL_PATH</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>etc/system-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
	<servlet-mapping>
		<servlet-name>NetKernel</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
 
</web-app>
