@import url(reset.css);

/**
 * Restore normal elements
 */

h1, h2, h3, h4, h5, h6, legend {
    font-weight: bold;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.0em;
}

h2, legend {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

th, td {
    padding: 2px;
}

input:focus,
textarea:focus,
button:focus {
    outline: 0;
}

ul {
    list-style-type: disc;
    margin: 0 0 0 1em;
}

li {
    display: list-item;
}

body {
	background: #eee;
	font-family: sans-serif;
	font-size: 0.85em;
	line-height: 1.4em;
    margin: 0;
	min-width: 800px;
    padding: 0;
}

pre {
	text-indent: 30px;
}

pre.code {
	text-indent: 20px;
	border: 1px dashed #000;
	background: #FFF;
}

a {
    color: #07d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #059;
}

a.broken {
    color: red;
}

input[type="text"] {
    background: #fefefe url(images/input-bg.png) top left repeat-x;
    border: 1px solid #ddd;
    padding: 0.25em;
}

strong {
    font-weight: bold;
}

#account {
    clear: right;
    float: right;
    padding: 0.25em 0.25em 0 0;
}

#content {
    background: #fff url(images/content-bg.png) top left repeat-y;
    border-bottom: 1px solid #ddd;
    clear: right;
    float: left;
    min-height: 348px;
	padding: 0 0 10px 6%;
	text-align: left;
    width: 76.9%;
    z-index: 0;
}

#header {
    border-bottom: 1px solid #ccc;
    margin: 0 0 0 2%;
    min-height: 2em;
    padding: 0 0 0 17%;
}

#menu {
    background: #efefef url(images/menu-bg.png) top right repeat-y;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    float: left;
    margin: 0 0 0 2%;
    padding: 0;
    position: relative;
    width: 15%;
    z-index: 10;
}

#menu li {
    list-style: none;
    margin: 0;
}

#menu li a {
    display: block;
    height: 32px;
    line-height: 28px;
    padding: 10px 2% 10px 8%;
    width: 100%;
}

#menu li.active {
    background: #f9f9f9 url(images/menu-bg.png) top right repeat-y;
    padding: 0;
}

#menu li.active > a {
    background: transparent url(images/menu-item-bg.png) top right no-repeat;
    font-weight: bold;
}

#menu a.new {
    display: inline;
    background: transparent url(images/add.png) center left no-repeat;
    margin: 0 0 0 8%;
    padding: 7px 0 7px 30px;
}

#menu li form {
    font-size: 0.9em;
    margin: 0;
    opacity: 0.7;
    padding: 0.75em;
}

#menu li.inactive form,
#menu li.inactive ul {
    display: none;
}

#menu li form label {
    margin-left: 5%;
}

#menu li form input {
    background: transparent url(images/search-bg.png) top left no-repeat;
    margin-left: 2%;
    padding: 3px 3px 3px 16px;
    width: 50%;
}

.search #content form.search input {
    background: transparent url(images/search-bg.png) top left no-repeat;
    padding: 3px 3px 3px 16px;
}

form img.submit {
     margin: 0 5px;
    vertical-align: middle;
}

form img.submit:hover {
    cursor: pointer;
}

#menu ul {
    font-size: 0.9em;
    margin: 0;
}

#menu ul li {
    padding: 7px 0;
}

#menu ul li a {
    height: auto;
    line-height: 1;
}

#breadcrumbs {
    background: transparent;
    clear: both;
    float: left;
    font-size: 0.85em;
    margin: 0 0 1em -6%;
    opacity: 0.7;
    padding: 0;
    width: 106%;
}

#breadcrumbs:hover {
    opacity: 1.0;
}

#breadcrumbs li {
    background: transparent url(images/breadcrumb.png) center left no-repeat;
    float: left;
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0 0 0 20px;
}

#breadcrumbs li.home {
    background: transparent;
    padding: 0 0 0 0;
}

#breadcrumbs li a {
    display: block;
    padding: 10px 0;
    width: 100%;
}

#actions {
    border-left: 1px solid #ccc;
    clear: left;
    float: left;
    font-size: 0.9em;
    list-style: none;
    margin: 1em 0 0;
}

#actions li {
    display: block;
    float: left;
    margin: 0 21px 0 0;
    text-align: center;
    width: 65px;
}

#actions li a,
#actions li span {
    background: #efefef url(images/menu-region.png) bottom left repeat-x;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: block;
    margin-bottom: -1px;
    padding: 3px 10px;
    width: 100%;
}

#actions .current {
    background: #fff;
    border-bottom: 0;
    font-weight: bold;
}

.clear:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.hidden {
    display: none;
}

a.tooltip {
    position: relative; /*this is the key*/
    z-index: 24;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

a.tooltip:hover {
    z-index: 25;
    background-color: #fff;
}

a.tooltip span {
    display: none;
}

a.tooltip:hover span { /*the span will display just on :hover state*/
    display: block;
    position: absolute;
    top: 2em;
    left: 2em;
    width: 15em;
    border: 1px solid #0cf;
    background-color: #CAE8EA;
    color:#000;
	text-align: justify;
	line-height: 1.4em;
	font-size: 0.85em;
	font-weight: bold;
    text-align: center;
}

div.noresults {
}

div.withresults {
	color: #708090;
	background: #FFFAFA;
	border: 1px solid #5F9EA0; 
	/* border-style: outset;  */
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none;
}

h3.error {
	font-weight: bold;
	color: red;
}

p.actiontext {
	font-size: 1.1em;
	font-weight: bold;
}

p.response {
	font-size: 1.1em;
	font-weight: bold;
	margin-left: 2.5em;
}

p.error {
	font-size: 1.1em;
	font-weight: bold;
	color: red;
	margin-left: 2.5em;
}

p.approved {
	font-size: 1.1em;
	font-weight: bold;
	margin-left: 2.5em;
}

p.rejected {
	font-size: 1.1em;
	font-weight: bold;
	color: red;
	margin-left: 2.5em;
}

p.warning {
	font-size: 1.1em;
	font-weight: bold;
	color: red;
}

form .instructions {
    padding: 0.5em 0;
}

fieldset {
    border: 0;
}

legend {
}

table {
	table-layout: fixed;
	padding: 0;
}

table.display {
	border: 2px solid #C1DAD7;
	text-align: left;
}

table.display th {
	background: #CAE8EA url(./images/bg_header.jpg) no-repeat;
	border: 1px solid #5F9EA0;
	padding: 2px 6px;
	font-size: 1.1em;
	font-weight: bold;
}

table.display ul {
	margin: 10px 0px 10px 20px;
	padding: 0; 
}

table.display ul li {
}

table.docstable {
	table-layout: fixed;
	padding: 0;
	width: 100%;
}

td.property,
td.value {
    vertical-align: top;
}

td.error {
	color: red;
}

th.row {
}

th.rowalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(./images/bullet2.gif) no-repeat;
	color: #797268;
}

img {
    border: 0;
}

#footer {
    clear: both;
    margin: 0 0 0 17%;
    padding: 3em 1% 10px 1%;
    text-align: right;
    width: 81%;
}

#footer a {
    padding-right: 25px;
}

/* Inapplicable actions or breadcrumbs */
body.search #actions,
body.server #actions .delete,
body.server #breadcrumbs,
body.purl #actions .delete,
#actions.copy,
body.home #breadcrumbs,
body.home #actions,
body.realm #actions .delete,
body.realm #actions .view,
body.search #actions {
    display: none;
}
