<?xml version="1.0" encoding="UTF-8"?><module>
	<!--
	***********
	PURLs Admin Module
	***********
	-->
    <identity>
		<uri>urn:org:purl:admin</uri>
		<version>0.0.344</version>
    </identity>
	<info>
		<name>PURL Admin Module</name>
        <description>A module containing the PURLS 2 admin interface.</description>
		<dynamic/>
    </info>
    <publisher>
        <name>OCLC</name>
		<uri>http://www.oclc.org</uri>
    </publisher>
	<export>
		<uri>
			<match>ffcpl:/domain.*</match>
			<match>ffcpl:/group.*</match>
			<match>ffcpl:/purls.*</match>
			<match>ffcpl:/purl.*</match>
			<match>ffcpl:/user.*</match>
			<match>ffcpl:/admin.*</match>
			<match>active:purls\+.*</match>
			<match>active:purl\+.*</match>
			<match>active:purl-domain\+.*</match>
			<match>active:purl-group\+.*</match>
			<match>active:purl-user\+.*</match>
			<match>ffcpl:/etc/HTTPBridgeConfig.xml</match>
			<match>ffcpl:/etc/LogConfig.xml</match>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/CRONConfig.xml</match>
		</uri>
	</export>
	<mapping>
		<this>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/.*</match>
			<match>ffcpl:/users/.*</match>
			<match>ffcpl:/groups/.*</match>
			<match>ffcpl:/domains/.*</match>
			<match>ffcpl:/storedpurls/.*</match>
		</this>
		<this>
			<match>ffcpl:/resources/.*</match>
		</this>
		<rewrite>
			<match>ffcpl:/admin/(.*.bsh.*)</match>
			<to>active:beanshell+operator@ffcpl:/resources/$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/purl.*)</match>
			<to>active:purl+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/purls.*)</match>
			<to>active:purls+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/purl)(.*)</match>
			<to>active:purl+path@$2</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/domain.*)</match>
			<to>active:purl-domain+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/domain.*)</match>
			<to>active:purl-domain+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/group.*)</match>
			<to>active:purl-group+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/group.*)</match>
			<to>active:purl-group+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/user.*)</match>
			<to>active:purl-user+path@$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/admin/user.*)</match>
			<to>active:purl-user+path@$1</to>
		</rewrite>

		<ura>
      		<match>active:purl-user\+.*</match>
      		<class>org.purl.accessor.UserAccessor</class>
    	</ura>
		<ura>
      		<match>active:purl-group\+.*</match>
      		<class>org.purl.accessor.GroupAccessor</class>
    	</ura>
		<ura>
      		<match>active:purl-domain\+.*</match>
      		<class>org.purl.accessor.DomainAccessor</class>
    	</ura>
		<ura>
      		<match>active:purls\+.*</match>
      		<class>org.purl.accessor.PURLSAccessor</class>
    	</ura>
		<ura>
      		<match>active:purl\+.*</match>
      		<class>org.purl.accessor.PURLAccessor</class>
    	</ura>
		<import>
			<uri>urn:org:ten60:netkernel:ext:session</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<super/>
    </mapping>
</module>