<?xml version="1.0" encoding="UTF-8"?>
<module>
    <identity>
		<uri>urn:netkernel:control</uri>
		<version>1.0.0</version>
    </identity>
	<info>
		<name>NetKernel Deployment Controller</name>
        <description>Tool to update and redploy NK instance</description>
    </info>
    <publisher>
        <name>1060 Research Limited</name>
		<uri>http://www.1060research.com</uri>
    </publisher>
    <licence>
		<name>1060 Public License v1.0</name>
		<uri>http://www.1060research.com/license</uri>
	</licence>
	<export>
		<uri>
			<match>ffcpl:/netkernel-control/.*</match>
			<match>ffcpl:/entrypoints.xml</match>
		</uri>
	</export>
	<rewrite>
		<rule> <!-- drop any cookies -->
			<match>(.*)\+cookie@.*</match>
			<to>$1</to>
		</rule>
		<rule>
			<match>ffcpl:/netkernel-control/reload</match>
			<to>active:javascript+operator@ffcpl:/resources/reload.js</to>
		</rule>
		<rule>
			<match>ffcpl:/netkernel-control/panic</match>
			<to>active:javascript+operator@ffcpl:/resources/panic.js</to>
		</rule>
	</rewrite>
    <mapping>
		<this>
			<match>ffcpl:/entrypoints.xml</match>
		</this>
		<this>
			<match>ffcpl:/(resources|etc)/.*</match>
		</this>
		<import>
			<uri>urn:org:ten60:netkernel:ext:kernel</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<super/>
    </mapping>
</module>