<?xml version="1.0" encoding="UTF-8"?><module>
    <!--
     ***********
     PURLs Search Module
     ***********
     -->
    <identity>
        <uri>urn:org:purl:search</uri>
        <version>0.0.100</version>
    </identity>
    <info>
        <name>PURL Search Module</name>
        <description>A module containing the PURLS 2 search interface.</description>
        <dynamic/>
    </info>
    <publisher>
        <name>OCLC</name>
        <uri>http://www.oclc.org</uri>
    </publisher>
    <export>
        <uri>
            <match>active:purl-search\+.*</match>
            <match>active:purl-search-index\+.*</match>
            <match>active:purl-search-initialize\+.*</match>
            <match>ffcpl:/etc/LogConfig.xml</match>
            <match>ffcpl:/entrypoints.xml</match>
            <match>ffcpl:/etc/CRONConfig.xml</match>
        </uri>
    </export>
    <mapping>
        <this>
            <match>ffcpl:/entrypoints.xml</match>
            <!--<match>ffcpl:/etc/.*</match>-->
            <match>ffcpl:/index/.*</match>
            <match>ffcpl:/solr/.*</match>
        </this>
        <rewrite>
            <match>active:purl-search-initialize(.*)</match>
            <to>active:purl-search-index+initialize@true$1</to>
        </rewrite>


        <ura>
            <match>active:purl-search\+.*</match>
            <class>org.purl.accessor.SearchAccessor</class>
        </ura>
        <ura>
            <match>active:purl-search-index\+.*</match>
            <class>org.purl.accessor.IndexAccessor</class>
        </ura>
        <import>
            <uri>urn:org:purl:storage</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:session</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:script</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:mod:lucene</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:sys</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:xml:core</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:layer1</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:dpml</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:mod:db</uri>
        </import>
        <super/>
    </mapping>
</module>