<?xml version="1.0" encoding="UTF-8"?><module>
	<!--
	***********
	PURLs Template Module
	***********
	-->
    <identity>
		<uri>urn:org:purl:template</uri>
		<version>0.0.1</version>
    </identity>
	<info>
		<name>PURL Template Module</name>
        <description>A module containing the basic structure for a NetKernel module</description>
		<dynamic/>
    </info>
    <publisher>
        <name>OCLC</name>
		<uri>http://www.oclc.org</uri>
    </publisher>
	<export>
		<uri>
			<match>ffcpl:/template/.*</match>
			<match>ffcpl:/template/initialize</match>
			<match>active:template\+.*</match>
			<match>ffcpl:/etc/HTTPBridgeConfig.xml</match>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/CRONConfig.xml</match>
		</uri>
	</export>
	<mapping>
		<this>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/etc/.*</match>
		</this>
		<this>
			<match>ffcpl:/resources/.*</match>
		</this>
		<rewrite>
			<match>ffcpl:/template/(.*.bsh.*)</match>
			<to>active:beanshell+operator@ffcpl:/resources/$1</to>
		</rewrite>
		<rewrite>
			<match>(ffcpl:/template/.*)</match>
			<to>active:template+path@$1</to>
		</rewrite>
		<ura>
      		<match>active:template\+.*</match>
      		<class>org.purl.template.accessor.TemplateAccessor</class>
    	</ura>
		<import>
			<uri>urn:org:ten60:netkernel:ext:session</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:script</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:sys</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<super/>
    </mapping>
</module>