<?xml version="1.0" encoding="UTF-8"?><module>
    <identity>
		<uri>urn:org:ten60:netkernel:fulcrum:frontend</uri>
		<version>2.1.6</version>
    </identity>
	<info>
		<name>NetKernel Frontend Fulcrum</name>
        <description>Public HTTP server on port 8080 hosting publicly exposed applications</description>
		<type>fulcrum</type>
    </info>
    <publisher>
        <name>1060 Research Limited</name>
		<uri>http://www.1060research.com</uri>
    </publisher>
    <licence>
		<name>1060 Public License v1.0</name>
		<uri>http://www.1060research.com/license</uri>
	</licence>
	<export>
		<uri>
			<match>ffcpl:/entrypoints.xml</match>
			<match>ffcpl:/pub/.*</match>
		</uri>
	</export>
	<rewrite>
		<!--Hide etc on the public interface-->
		<rule>
			<match>http://.*?/etc/.*</match>
			<to/>
		</rule>
		<!--Tie HTTP requests to the HTTP Bridge-->
		<rule>
			<match>(http.*?:.*)</match>
			<to>active:http-bridge+url@$e1+config@ffcpl:/etc/HTTPBridgeConfig.xml</to>
		</rule>
		<!--
		*********
		Servlet - Make the demo servlet map to the index page.
		*********
		-->
		<rule>
			<match>servlet:.*</match>
			<to>ffcpl:/pub/index_servlet.html</to>
		</rule>
	</rewrite>
	<mapping>
		<!--Put every request into the FFCPL domain-->
		<!--
		<rewrite>
			<match>jetty://.*?/(.*)</match>
			<to>ffcpl:/$1</to>
		</rewrite>
		-->
		<rewrite>
			<match>ffcpl:(/|/\+.*)</match> <!--Fixes unexpected localhost cookie bug on root path-->
			<to>ffcpl:/pub/index.html</to>
		</rewrite>
		<rewrite>
			<match>ffcpl:/etc/HTTPBridgeConfig.xml</match>
			<to>active:http-bridge-config+module@urn:org:ten60:netkernel:fulcrum:frontend</to>
		</rewrite>
		<!--
		************
		Override Configurations.  Use local values
		************
		-->
		<this>
			<match>ffcpl:/(etc|pub)/.*</match>
			<match>ffcpl:/entrypoints.xml</match>
		</this>
		
		<!--
		************
		Jetty HTTP Transport
		************
		-->
		<import>
			<uri>urn:org:ten60:netkernel:tpt:http</uri>
		</import>
		<!--
		************
		Required Libraries
		************
		-->
		<import>
			<uri>urn:org:ten60:netkernel:lib:xlib</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:ext:layer1</uri>
		</import>
		<!--
		************
		Demo and Test modules - remove these for production...
		************
		-->
		<!--
		<import>
			<uri>urn:org:ten60:workbench</uri>
		</import>
		<import>
			<uri>urn:org:ten60:tutorial</uri>
		</import>
		<import>
			<uri>urn:org:ten60:netkernel:mod:ws:test</uri>
		</import>
		<import>
			<uri>urn:org:ten60:app:address:book</uri>
		</import>
        <import>
            <uri>urn:org:ten60:netkernel:1060Forum:web</uri>
        </import>
		-->
        <!--
		************
		PURL server modules
		************
		-->
	    <import>
			<uri>urn:org:purl:virtual:host</uri>
		</import>
		<!--
		************
		Add your modules below here...
		************
		-->

    </mapping>
	<transports>
		<!--
		************
		HTTP Transport
		************
		-->
		<transport>org.ten60.transport.jetty.JettyTransport</transport>
		<!--
		************
		InternalTransport -  Embedded/Servlet connects through this
		************
		-->
		<transport>InternalTransport</transport>
	</transports>
</module>